<footer class="w3-center w3-black w3-padding-64">
  <div class="w3-xlarge w3-section">
    <a href="https://twitter.com/victorhazbun" target="_blank" class="social-link">
      <i class="fa fa-twitter w3-hover-opacity"></i>
    </a>
    <a href="https://co.linkedin.com/in/victor-alfonso-hazbun-anuff-b0288884" target="_blank" class="social-link">
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </a>
    <a href="https://www.facebook.com/victor.hazbun" target="_blank" class="social-link">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
    </a>
    <a href="https://github.com/victorhazbun" target="_blank" class="social-link">
      <i class="fa fa-github w3-hover-opacity"></i>
    </a>
    <a href="mailto:victorhazbun87@gmail.com" target="_blank" class="social-link">
      <i class="fa fa-envelope w3-hover-opacity"></i>
    </a>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>